<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Burning-Series-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FED72981C1AFB5A000B280D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FED72AB1C1AFB5A000B280D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FED72B61C1AFB5A000B280D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
